html{
    /* width: 600px; */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 600px; */
    min-width: 480px;
    width: 100%;
    text-align: center;
}

.header-landing{
    display:flex;
    flex-direction: column;
    width: 100%;
}

img{
    width: auto;
}
.navAndLogos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background-color: red;    
}

.navbar{
    align-self: flex-start;
    order:3;
    background-color: cadetblue;
    width: 100%;
    height: 20px;
    padding: 5px;
}

.nav-link{
    display: inline-block;
}


.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.gallery-item{
    max-width:100%;
    margin-right: auto;
    margin-top: 0.5%;
}

.half-gal-img{
    max-width:49%;
    max-height:auto;
    margin-right: auto;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.emailTo{
    display: flex;
    flex-direction: row;
    background-color: #ff00ff;
    justify-content: space-between;
    width: 80%;
    padding: 0.25%;
    align-self: center;
}
.su-input-text{
    display: flex;
    flex-direction: row;
    width: 80%;

}
.su-input-text input[type="text"]{
    width: 80%;
    margin-left: 1%;
}

footer{
    display:flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

footer li{
    display: inline;
    margin-left: 2%;
}