/* This first part is for mobile */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 600px; */
    min-width: 480px;
    width: 100%;
    text-align: center;
    height: 100%;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    color: #2d2d2d;
    
}

.header-landing{
    display:flex;
    flex-direction: column;
    width: 100%;    
}


.navAndLogos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin: 1% 0%; 
    /* height: 100%;  */
      
}

 .navAndLogos div{
    display: flex;
    flex-direction: row;  
    /* align-content: space-between; */
    justify-content: center;
    padding:0;
    margin-right: 2%; 
    margin-left: 2%;
    max-width: 30%;
}

.logo img{
    width: 80%;
    height: auto;
    /* align-self: flex-start;    */
}

.basket img{
    width: 70%;
    height: auto;
    /* align-self: flex-start;    */
}

.navbar{
    align-self: flex-start;
    order:3;
    background-color: white;
    width: 100%;
    height: 35%;
    padding: 5px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 0%;
    /* margin-bottom: 5%; */
    border-top: 1px solid #d7d7d7;
}

.navbar ul{
    height: 2.5em; /*In order for that container to proportionnal to the text inside.*/    
    text-align: center;
    font-weight: 500;
}

.nav-link{
    display: inline-block;
    line-height: 2.5em; /* Awesome!! This rule is connected to the .nav ul one above. */
    margin-right: 10%;
}

.nav-link a{
    text-decoration: none;
    color: #e2574c;
}

.nav-link a:hover{
    color: #b64036;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 8%;
    width: 100%;
    height: 450px;
    /* background-image: url( "../images/banner-girl.png"), linear-gradient(rgba( 0, 0, 0, 0.7), rgba(0,0,0, 0.7)), url("../images/flower-bkgd.jpg"); */
     background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba(0,0,0, 0.2)), url( "../images/banner-girl.png"),  url("../images/flower-bkgd.jpg");
     
     background-repeat: no-repeat, no-repeat;
     background-size: contain, 198px 455px, cover;
     background-position: 100% 100%, 50% -1250%, 100% 100%;
}

.banner-title{
    color: white;
    font-weight: 500;
    margin-bottom: 4%;
    text-shadow: 1px 1px #242424;
}

.banner h1{
    color: white;
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 250%;
    width: 60%;
    text-shadow: 1px 1px #242424;
}

.in-few-words{
    width: 60%;
}

.head-title{
    font-size: 250%;
    margin-bottom: 15px;
    font-family: 'Playfair Display';
}

.head-italic{
    font-style: italic;
}

.head-bold{
    font-weight: bold;
}

.in-few-words p{
    line-height: 1.8
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 8%;
}

.whole-gal-img{
    flex:100%;
    margin: 1.5px 0px;
}

.half-gal-img{
    flex: 48%; /*We might use 50%, but this size depends on both the right and left margin*/
    margin: 1px 0px;
}

.i11, .i21{
    margin-right: 3px;
}

.i12, .i22{
    margin-left: 3px;
}

.gallery img{
    width: 100%;
    max-height:auto;
    margin: 0;
}
/* .gallery .whole-gal-img:nth-child(1){
    background-image: url("../images/mens-category.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 481.6px;    
} */



.most-loved{
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 100%; */
    width: 100%;
    height: 600px;
    background-image: url("../images/wave-bkgd.jpg");
    background-repeat: no-repeat;
    background-size: auto auto; /*width height*/
    background-position: center;
    color: white;
}

.sign-up h1 span{
    /* color: white; */
    text-shadow: 1px 1px #242424;

}
.sign-up p{
    width: 60%;
    line-height: 1.8;
    margin-bottom: 6%;
    text-shadow: 1px 1px #242424;
}

.su-emailTo{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30px;
    padding: 0.25%;
    align-self: center;
    border-radius: 15px;
    
}
.su-input-text{
    display: flex;
    flex-direction: row;
    width: 80%;

}
.su-input-text input[type="text"]{
    width: 80%;
    margin-left: 3%;
    padding-left: 3px;
    border: none;
}

.su-input-submit input[type="submit"]{
    margin-right: 3px;
    background:transparent;
    border:none;
    color:#FFFFFF;
    outline: none;
    background: #e2574c;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #242424;
    color: white;
    width: 100%;
    height: 200px; /*MIN-HEIGHT??*/
    margin-top: 10px;
    font-family: 'Playfair Display';
    
}

.copyrightAndAddress{
    width: 100%;
    margin-top: 15px;
    
}
.copyright{
    margin-bottom: 10px;
    line-height: 1.5;
    
}

.emailAddress{
    margin-bottom: 10px;
}

.emailAddress a{
    /* text-decoration: none; */
    color: white;
}

.textcopyright{
    display: inline;
}

.location-address{
    color: #969696;
    line-height: 1.5;
}

.social{
    margin-bottom: 10px;
}

.social li{
    display: inline;
    margin-left: 2%;
}

.social a{
    text-decoration: none;
    color: floralwhite;
}

.text-social{
    display: none;
}


/* This second Part is for Tablet devices (600px and above) */
@media (min-width: 600px){
    body{
        min-width: 600px;            
    }

    .navAndLogos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;       
          
    }    
    
    .navbar{
        align-self: inherit;        
        order:0;
        border-top: none;        
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .gallery{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 8%;
    }
    
    .whole-gal-img{
        flex:49%;
        margin: 1px 0px;
        padding: 0px;        
    }

    .whole-gal-img:nth-child(1){
        margin-right: 2.5px;
    }

    .whole-gal-img:nth-child(2){
        margin-left: 3px;
    }
    
    .half-gal-img{
        flex: 24%; /*We might use 50%, but this size depends on both the right and left margin*/
        margin: 1px 0px;
    }
    
    .i21{
        margin-right: 3px;
    }
    
    .i11{
        margin-left: 3px;
        margin-right: 0px;
    }

    .i12{
        margin-left: 3px;
    }

    .i22{
        margin-right: 3px;
        margin-left: 0px;
        
    }
    
    .gallery img{
        width: 100%;
        max-height:auto;
        margin: 0;
    }

}


