.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    /* display: grid;
    grid-template-rows: 100% 50% 50% 100%;
    grid-template-columns:  */
}

.gallery-item{
    max-width:100%;
    /* no need max-height:100%;     */
    /* no need margin-left: 0.5%; */
    margin-right: auto;
    margin-top: 0.5%;
}

.half-gal-img{
    max-width:49%;
    max-height:auto;
    /*no need margin-left: 0.5%; */
    margin-right: auto;
}